/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* POPULATED BY THE IDE */

body
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
}
h2
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
}
h3
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
}

/* POPULATED BY THE IDE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.inlineMessageSuccess {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: Green;
}

.inlineMessageFailure {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: Red;
}

.centerPanelFormLayout {
  padding-left: 50px;
  padding-right: 50px;
  border-left: 1px solid #ADB6C7;
  border-right: 1px solid #ADB6C7;
}

.columnHeader {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.priceChangeManagerHeader {
  font-family: Arial, Helvetica, sans-serif;
  border-spacing: 0px;
  border-bottom: 1px solid #ADB6C7;
  overflow: hidden;
  padding-top: 5.0px;
  margin: 0px;
}

.priceChangeManagerHeaderTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26.0px;
  overflow: hidden;
  padding-left: 10.0px;
  color: Black;
  text-decoration: none;
  margin: 0px;
}

.priceChangeManagerHeaderTitle:hover {
  text-decoration: none;
}

.priceChangeManagerHomePageTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22.0px;
}

.priceChangeManagerHomePageSubTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16.0px;
  font-weight: bold;
}

.priceChangeManagerHomePageContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.0px;
}

.priceChangeManagerNavigationPanelText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16.0px;
  font-weight: bold;
  color: Black;
  padding-left: 20.0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  overflow: hidden;
}

/*
.header {
  border-spacing: 0px;
  border-bottom: 1px solid #6B7194;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.0px;
  color: White;
  background-image: url("../Images/app_level_bar_background.jpg");
  background-repeat: repeat-x;
  overflow: hidden;
}

.headerLinks {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.0px;
  color: White;
  text-decoration: none;
}

.headerLinks:hover {
  text-decoration: underline;
}

.footer {
  border-spacing: 0px;
  border-top: 1px solid #6B7194;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.0px;
  color: White;
  background-color: Black;
  background-image: url("../Images/app_level_bar_background.jpg");
  background-repeat: repeat-x;
  overflow: hidden;
}

.footerLinks {
  font-family: Arial, Helvetica, sans-serif;
  color: White;
  text-decoration: none;
}

.footerLinks:hover {
  text-decoration: underline;
}

.subHeader {
  border-spacing: 0px;
  border-bottom: 1px solid #6B7194;
  padding-top: 5.0px;
  padding-left: 10.0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26.0px;
  overflow: hidden;
}


.navigationPanelSeparator {
  margin-left: 25.0px;
  margin-right: 25.0px;
}

.wizardGeneralLink {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14.0px;
  padding-left: 5.0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5.0px;
}

.wizardCommitLink {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14.0px;
  padding-left: 5.0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5.0px;
}

.ldapRealmExampleText {
  color: #534741;
  font-style: italic;
}

/ * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ * /
/ * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ * /
/ * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ * /
/ * OVERRIDING ADF CLASSES * /

/ * Used for Labels under panel form layout throughout * /
.x4z {
  font-size: 12.0px;
}

/ * Used for Inputs under panel form layout throughout * /
.x25 {
  font-size: 12.0px;
}

/ * Used for drop downs under panel form layout throughout * /
.x2h {
  font-size: 12.0px;
}

/ * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ * /
/ * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ * /
/ * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ * /
*/