/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* POPULATED BY THE IDE */

body
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
}
h2
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
}
h3
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
}

/* POPULATED BY THE IDE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.inlineMessageSuccess {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: Green;
}

.inlineMessageFailure {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: Red;
}

.centerPanelFormLayout {
  padding-left: 50px;
  padding-right: 50px;
  border-left: 1px solid #ADB6C7;
  border-right: 1px solid #ADB6C7;
}
